body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    gap: 310px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    margin-top: 10px;
}

.header-links {
    display: flex;
    gap: 15px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.hero-2ndtext {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.section1 {
    background-color: #1F2937;
}

.button1 {
    border: #1F2937;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    padding-left: 23px;
    padding-right: 23px;
}

.main-content1 {
    display: flex;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.content1 {
    width: 400px;
}

img {
    height: 220px;
    width: 500px;
}

.info-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

* {
    font-family: sans-serif;
}

.image {
    border: 3px solid rgb(39, 122, 247);
    border-radius: 8px;
    width: 160px;
    height: 160px;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.descript {
    text-align: center;
}

.main-content2 {
    padding: 20px;
}

.items {
    width: 170px;
}

.section2 {
    padding-bottom: 80px;
}

.section3 {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 900px;
    margin-bottom: 0;
}

.main-content3 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quote-source {
    text-align: end;
    margin: 0;
}

.quote {
    width: 870px;
}

.cta-text {
    color: white;
    margin: 0;
}

.sign-up-text {
    color: #E5E7EB;
    margin: 0;
}

.button2 {
    background-color: #3882F6;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    padding-left: 23px;
    padding-right: 23px;
    border: 1px solid white;
}

.main-content4 {
    background-color: #3882F6;
    display: flex;
    padding: 35px;
    border-radius: 6px;
    gap: 180px;
    justify-content: space-around;
}

.section4 {
    padding: 80px;
    margin-left: 400px;
    margin-right: 400px;
}

.button-box {
    align-self: center;
}



